<!DOCTYPE html>
<html>
<body>
		<a href="/filter">Search</a>
		<a href="/users">All Users</a>	
	<form method="post" action="/filter">
		<input type="text" name="filter" />
		<input type="submit" value="Filter" />		
	</form>
</body>
</html>