<!DOCTYPE html>
<html>
<body>
		<a href="/filter">Search</a>
		<a href="/users">All Users</a>
		<ul>
			<% users.forEach( function ( user ) { %>
				 
			<li><a href="/user/<%= user.id %>"><%= user.name %></a></li>

			<% });  %>
		</ul>
</body>
</html>